<div class="chart-container" *ngIf="isChart; else tableContainer">
    <div class="chart-label">
        {{chartLbl}}
    </div>
    <div class="chart-actions">
        <button type="submit" class="btn btn-submit" [routerLink]="'/reports'">{{backBtnLbl}}</button>
        <button type="submit" class="btn btn-submit" (click)="saveChartAsPdf()">{{saveAsPdfLbl}}</button>
    </div>
    <div class="chart">
        <div class="chart-image bar-chart" *ngIf="isBarChart" id="chart">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </div>
        <div class="chart-image pie-chart" *ngIf="isPieChart" id="chart">
            <ngx-charts-pie-chart [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>
        <div class="chart-image linear-chart" *ngIf="isLinearChart" id="chart">
            <ngx-charts-area-chart-stacked [scheme]="colorScheme" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="chartData">
            </ngx-charts-area-chart-stacked>
        </div>
        <div class="chart-image tree-chart" *ngIf="isCardChart" id="chart">
            <ngx-charts-number-card [scheme]="colorScheme" [results]="chartData">
            </ngx-charts-number-card>
        </div>
    </div>
</div>

<ng-template #tableContainer>
    <div class="table-container">
        <div class="table-label">
            {{tableLbl}}
        </div>
        <div class="table-actions">
            <button type="submit" class="btn btn-submit" [routerLink]="'/reports'">{{backBtnLbl}}</button>
            <button type="submit" class="btn btn-submit" (click)="saveReportAsExcel()">{{saveAsExcelLbl}}</button>
        </div>
        <div class="table" id="table">
            <div class="transactions-list-table-headers">
                <div class="transactions-table-header" *ngFor="let tableHeader of tableHeaders">
                    {{tableHeader}}
                </div>
            </div>
            <div class="transactions-list-table" *ngFor="let transaction of tableData">
                <div class="transaction-category">{{ transaction.category }}</div>
                <div class="transaction-date">{{ transaction.date | date }}</div>
                <div class="transaction-sum">{{transaction.sum}}</div>
                <div class="transaction-comment">{{transaction.comment}}</div>
            </div>
        </div>
    </div>
</ng-template>