<div class="chart-container">
    <div class="chart">
        <div class="chart-image bar-chart" *ngIf="isBarChart">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </div>
        <div class="chart-image pie-chart" *ngIf="isPieChart">
            <ngx-charts-pie-chart [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
                [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
        </div>
        <div class="chart-image linear-chart" *ngIf="isLinearChart">
            <ngx-charts-area-chart-stacked [scheme]="colorScheme" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="chartData">
            </ngx-charts-area-chart-stacked>
        </div>
        <div class="chart-image tree-chart" *ngIf="isCardChart">
            <ngx-charts-number-card [scheme]="colorScheme" [results]="chartData">
            </ngx-charts-number-card>
        </div>
    </div>
</div>