.chart {
	width: 90%;
	margin: 50px auto auto auto;
	border: 1px solid white;
	padding: 10px 20px;
	background-color: #8e8e8e;
}
.chart-label,
.table-label {
	color: #8e8e8e;
	text-align: center;
	font-family: "sans";
	text-transform: uppercase;
	margin: 20px 0;
}
.chart-image {
	color: #202124;
	margin: auto;
	width: 80vw;
	height: 50vh;
	font-family: "sans" !important;
}
.chart-actions {
	width: 90%;
	margin: auto;
	text-align: left;
}
.btn-submit,
.btn-submit-disabled {
	font-family: "sans";
	font-size: 1rem;
	padding: 5px 15px;
	background: transparent;
	color: white;
	border: 1px solid white;
	margin-right: 2.5%;
}
.btn-submit:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
.btn-submit-disabled {
	opacity: .8;
	pointer-events: none;
}
.table-message {
	color: white;
	margin: 20px 0;
	line-height: 1;
}
.table-actions {
	margin: 20px 30px;
	text-align: left;
}
.table {
	margin: 20px 30px;
}
.transactions-list-table,
.transactions-list-table-headers {
	display: grid;
	grid-template-columns: repeat(4, 3fr);
}
.transactions-list-content {
	max-height: 80vh;
	overflow-y: auto;
}
.transactions-list-table,
.transactions-table-header {
	text-align: center;
	color: white;
}
.transactions-list-table:nth-child(odd),
.transactions-table-header {
	background-color: #757575;
}
.transactions-list-table:nth-child(even) {
	background-color: #494949;
}
.transaction-date,
.transaction-comment,
.transaction-sum,
.transaction-category,
.transactions-table-header {
	border: 1px solid #202124;
	line-height: 1.3;
	padding: 3px;
}
.no-transactions-message {
	font-family: "sans";
	font-size: 1rem;
}
@media (max-width: 600px) {
	.chart-label,
	.table-label {
		font-size: 0.6rem;
	}
	.btn-submit,
	.btn-submit-disabled {
		font-size: 0.8rem;
		padding: 3px 10px;
	}
	.transaction-date,
	.transaction-comment,
	.transaction-sum,
	.transaction-category,
	.transactions-table-header {
		font-size: 0.8rem;
	}
}
