@font-face {
  font-family: capture;
  src: url("../../assets/fonts/capture.ttf") format("opentype");
}

.mat-card {
  background: transparent;
  padding-right: 0;
  //padding-bottom: 5px; 
}

.mat-card-header {
  display: flex;
  justify-content: space-between;  
}

.header-avatar-image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy3ARUlOyfp6K9YynzfNS5XQV0C4t0-PxlJGbXzwQt8k73_iLnmg");
  background-size: cover;
  height: 60px;
  width: 60px;
}

.header-navigation-items {
  font-family: capture;
  color: white;
  font-size: 1.8rem;
}

.header-navigation-items:hover {
  cursor: pointer;
  background: white;
  color: black;
  opacity: 0.9;
}

.header-navigation-items {
	padding: 10px 10px 0px 10px;
}


.navigation-container {
  display: flex;
  margin-right: 1%;
}

.header-navigation-items-active {
  background: white;
  color: black;  
}