<div class="header-container">
    <div class="app-name" [routerLink]="'/home'">
        {{monneyLogoLbl}}
    </div>
    <div class="user">
        <div calss="user-avatar" *ngIf="isUserAuthorised; else loginUser">
            <mat-menu #appMenu="matMenu" xPosition="before">
                <button mat-menu-item class="custom-menu" *ngFor="let menuItem of headerMenuItems"
                    (click)="menuItem.action()">{{menuItem.name}}</button>
            </mat-menu>
            <igx-avatar roundShape="true" class="header-avatar" id="avatar" initials={{avatarInitials}}
                [src]="avatarSrc" [matMenuTriggerFor]="appMenu" matTooltip="User avatar">
            </igx-avatar>
        </div>
        <ng-template #loginUser>
            <div class="login-actions">
                <div class="sing-in-action" [routerLink]="'/singin'">{{singInLbl}}</div>
                <div class="sing-up-action" [routerLink]="'/singup'">{{singUpLbl}}</div>
            </div>
        </ng-template>
    </div>

</div>