@font-face {
    font-family: capture;
    src: url('../../assets/fonts/capture.ttf') format('opentype');
}

.header-container {
	background: transparent;	
}

.mat-button {
	font-family: capture;
	color: white;
	font-size: 1.8rem;

}









.main {
    text-align: left;
	font-family: capture; 
}
.header-container {
	height: 70px;
	display: grid;
	grid-template-columns: 6fr 2fr 2fr 2fr;
}

.date-holder, .menu-item  {
	vertical-align: middle;
	font-size: 30px;
	color: white;
	padding: 10px 10px 0 0;
	text-align: right;
}
.menu-item:hover {
	cursor: pointer;
	background: white;
	color: black;
}
.avatar {
	border: 1px solid white;
	height: 95%;
	width: 10%;
	margin-top: 1%;
	margin-left: 20px;
}

.avatar-content {
	text-align: center;
	font-family: capture; 
	font-size: 2rem;
	color: white;
}

