<div class="header-container" id="header">
	<div class="user-info-conteiner">
		<div class="header-avatar">
			<igx-avatar *ngIf="isAvatar else noAvatar" [src]="avatarSrc" roundShape="true">
			</igx-avatar>
			<ng-template #noAvatar>
				<igx-avatar initials={{avatarInitials}} roundShape="true" [bgColor]="bgColor" [color]="color">
				</igx-avatar>
			</ng-template>
			<mat-menu #appMenu="matMenu">
				<button mat-menu-item class="custom-menu" *ngFor="let menuItem of headerMenuItems"
					(click)="menuItem.action()">{{menuItem.name}}</button>
			</mat-menu>
			<button mat-icon-button [matMenuTriggerFor]="appMenu" matTooltip="Profile settings" *ngIf="isMenuAvailable">
				<mat-icon class="profile-menu-btn">menu</mat-icon>
			</button>
		</div>
	</div>
	<div class="date">
		{{ currentDate | date:'fullDate' }}
	</div>
</div>