@font-face {
  font-family: capture;
  src: url("../../assets/fonts/capture.ttf") format("opentype");
}
.header-container {
	display: grid;
	grid-template-columns: 3fr 9fr;
	border-bottom: 1px solid #8e8e8e;
}
.user-info {
	text-align: left;
	display: inline-flex;
}
.igx-avatar {
	height: 45px;
	width: 45px;
	margin: 2%;
}
.date {
	text-align: right;
	color: white;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 2% 2% 0 0;
	font-family: capture;
}
.profile-menu-btn, .home-btn {
	color: white;
	font-size: 1rem;
	padding-top: 20px;
	padding-left: 15px;
	text-transform: uppercase;
}
.profile-menu-btn:hover, .home-btn:hover {
	cursor: pointer;
	opacity: .8;
}
.custom-menu {
	display: inline;
	font-family:  Roboto, "Helvetica Neue", sans-serif;
	text-transform: uppercase;
}
mat-icon {
	padding-top: 10px;
}
@media (max-width: 800px) {
	.date {
		font-size: 1rem;
		padding: 3% 3% 0 0;
	}
}
@media (max-width: 400px){
    .igx-avatar {
        height: 35px;
		width: 20px;
	}
	.date {
		font-size: .8rem;
		padding: 8% 3% 0 0;
	}
	.profile-menu-btn, .home-btn {
		font-size: .6rem;
		padding-left: 10px;
	}
}