.balance {
    text-transform: uppercase;
    background: transparent;
    height: 90%;
    width: 90%;
}
.balance-info {
     border-radius: 3px;
}
.balance-info-header {
    margin: 1% 0;
    color: white;
    font-size: 1.2rem;
    border-bottom: 1px solid #757575;
}
.balance-info-subtitle {
    color: white;
    font-size: 1rem;
}
.balance-info-content {
    text-align: right;
    color: white;
    font-size: 1.5rem;
    margin-top: 16px;
}