@font-face {
	font-family: Pt-Sans-Bold;
	src: url("../../assets/fonts/pt-sans-bold.ttf") format("opentype");
}
.category-form {
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 5% auto;
	padding: 20px;
	border-radius: 8px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	text-transform: uppercase;
}
.category-form fieldset {
	border: none;
}
.category-form legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.category-form label {
	display: block;
	margin-bottom: 8px;
}
.category-form input[type="text"],
.category-form textarea {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 4px;
	font-size: 1.5rem;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color: black;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
}
.category-form input[type="text"]:focus,
.category-form textarea:focus {
	background: #d2d9dd;
}
.category-form input[type="submit"],
.category-form input[type="button"] {
	position: relative;
	display: block;
	padding: 10px 29px 9px 29px;
	color: #fff;
	margin: 0 auto;
	background: #616161;
	font-size: 1.5rem;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #373737;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
	text-transform: uppercase;
	border-radius: 4px;
}
.category-form input[type="submit"]:hover,
.category-form input[type="button"]:hover {
	background: #8e8e8e;
}
.title {
	position: relative;
	display: block;
	padding: 10px 0;
	color: #fff;
	margin: 0 auto;
	background: #616161;
	font-size: 1.5rem;
	text-align: center;
	font-style: normal;
	width: 100%;
	margin-bottom: 10px;
}
.add-icon-container {
	display: grid;
	grid-template-columns: 6fr 1fr 5fr;
}
.add-icon-btn {
	border: 1px solid #ccc;
	background: #616161;
	border: 1px solid #373737;
	border-width: 1px 1px 3px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8rem;
	margin: 10px 0 10px 10px;
	box-shadow: 1px 1px;
	padding: 2px 3px;
	border-radius: 4px;
}
.add-icon-btn:hover {
	background: #8e8e8e;
	cursor: pointer;
}
.no-icon-selected {
	font-size: 0.8rem;
	padding-top: 15px;
	line-height: 1;
}
mat-icon {
	padding-top: 12px;
}
@media (max-width: 550px) {
	.category-form {
		width: 400px;
	}
}

@media (max-width: 400px) {
	.category-form {
		width: 300px;
	}
	.fieldset-legend {
		width: 10%;
	}
	.new-expence-category-name {
		font-size: 1em;
	}
	.new-expence-header {
		grid-template-columns: 8fr 4fr;
	}
	.mat-form-field {
		width: 130px !important;
	}
	.category-form input[type="submit"],
	.category-form input[type="button"] {
		padding: 5px 29px 4px 29px;
		font-size: 1rem;
	}
	.title {
		padding: 8px 0;
		font-size: 1rem;
	}
	.add-icon-btn {
		font-size: 0.8rem;
		box-shadow: 1px 1px;
		padding: 1px 3px;
	}
	.no-icon-selected {
		font-size: 0.6rem;
	}
}
@media (max-width: 330px) {
	.category-form {
		width: 250px;
	}
	.category-form input[type="submit"],
	.category-form input[type="button"] {
		padding: 3px 29px 2px 29px;
	}
	.title {
		padding: 5px 0;
	}
}
