.area-chart-container {
    min-width: 360px;
    overflow-x: auto;
}
.chart-diagramm {
    max-width:1300px;
    max-height:1300px;
    margin: auto;
    margin-top: 20px;
}

.minimum-period-message {
    color: white;
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 400px){
    .chart-diagramm {
        width: 600px;
        height: 300px;
        margin: auto;
        overflow: scroll !important;
        font-size: .6rem;
    }
}
