@font-face {
    font-family: capture;
    src: url('../../assets/fonts/capture.ttf') format('opentype');
}
@font-face {
    font-family: Pt-Sans-Bold;
    src: url('../../assets/fonts/pt-sans-bold.ttf') format('opentype');
}
.main {
    height: 100vh;
}
.login-form-container {
    height: 100%;
    width: 100%;
    text-align: center;
}
.login-form {
    width: 30rem;
    height: 50%;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.login-mess {
    font-family: capture;
    color: white;
    font-size: 2rem;
}
.login-label {
    font-family: capture;
    color: white;
    font-size: 1.5rem;
    width: 90%;
    text-align: left;
    padding-left: 8%;
    padding-top: 2%;
}
.form-group input[type=text],
.form-group input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px dashed white;
    width: 90%;
    outline: none;
    padding-top: 2%;
    font-size: 1.5rem;
    font-family: Pt-Sans-Bold;
    color: white;
}
.button-group {
    padding-top: 3%;
    padding-right: 8%;
    text-align: right;
}
.form-group input[type=submit],
.form-group input[type=button] {
    background: transparent;
    border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: white;
	width: 20%;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 2% 1%;
	margin: auto;
	margin-left: 10px;
}
.form-group input[type=submit]:hover,
.form-group input[type=button]:hover {
    cursor: pointer;
    background: white;
    color: black;
}
#error-block {
	color: #d50000;
	font: 30px/100% Pt-Sans-Bold;
    font-size: 1.5rem;
    padding: 10Px 15px;
}
.hide-message {
    text-align: right;
    padding-top: 5px;
}
.hide-message:hover {
    text-decoration: underline;
    cursor: pointer;
}
.spinner {
	position: fixed;
	z-index: 1;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
@media (max-width: 400px) {
    .login-mess {
        font-size: 1.2rem;
    }
    .login-label {
        font-size: 1rem;
    }
    .login-form {
        width: 20rem;
    }
    #error-block {
        font-size: 1.2rem;
    }
    .form-group input[type=text],
    .form-group input[type=password] {
        font-size: 1.2rem;
    }
}