<div class="main">
	<div class="login-form-container" *ngIf="isLoginFormShown">
		<div class="login-form">
			<div class="login-mess">{{title}}</div>

			<div class="login-label" *ngIf="isLogin">{{nameFieldLabel}}</div>
			<div class="form-group" *ngIf="isLogin">
				<input type="text" autocomplete="off" id="user-name" name="name" [(ngModel)]="name">
			</div>

			<div class="login-label">{{mailFieldLabel}}</div>
			<div class="form-group">
				<input type="text" autocomplete="off" id="mail-address"name="mailAddress" [(ngModel)]="mailAddress">
			</div>

			<div class="login-label">{{passwordFieldLabel}}</div>
			<div class="form-group">
				<input type="password" autocomplete="off" id="password" name="password" [(ngModel)]="password">
			</div>

			<div class="button-group form-group ">
				<input type="submit" value="Submit" (click)="validateInput()" />
				<span> </span>
				<input type="button" value="Close" routerLink="/hello-monney" />
			</div>

			<div *ngIf="isInvalidInput">
				<div class="form-group" id="error-block">
					{{invalidInputMessage}}
				</div>
			</div>
		</div>
	</div>
	<div class="modal-view" *ngIf="isModalShown">
		<app-modal [message]="message" [status]="status" (onCloseModal)="closeModal($event)"></app-modal>
	</div>
</div>