<div class="main">

  <div class="user-check" *ngIf="!isButtonPressed">
    <div class="ask-user">
        already have an account here ?
    </div>
    <div class="anser-options">
      <div class="empty-div"></div>
      <div class="yes-btn"
           (click)="singIn()"
           routerLink="/categories">yes</div> 
           <!-- TODO remove the router link after sing-in form creation -->
      <div class="no-btn"
           (click)="logIn()">no</div>
      <div class="empty-div"></div>
    </div>
  </div>

  <div class="singin-form-container" *ngIf="isExistedUser">

  </div>

  <div class="login-form-container" *ngIf="isNewUser">
    <div class="login-form">
      <div class="login-mess">login</div>
      
        <div class="login-label">name</div>
        <div class="form-group">
            <input type="text" 
            autocomplete="off" 
            id="user-name" 
            required 
            [(ngModel)]="name" 
            name="name">
            <!-- (input)="validateSumInput($event)"> -->

        <div class="login-label">e-mail</div>
        <div class="form-group">
          <input type="text" 
          autocomplete="off" 
          id="mail-address" 
          required 
          [(ngModel)]="mailAddress" 
          name="mailAddress">
          <!-- (input)="validateSumInput($event)"> -->

        <div class="login-label">password</div>
        <div class="form-group">
          <input type="password" 
          autocomplete="off" 
          id="password" 
          required 
          [(ngModel)]="password" 
          name="password">
          <!-- (input)="validateSumInput($event)"> -->             

      </div>

      <div class="button-group form-group ">
          <input type="submit" 
                 value="Login" 
                  (click)="onSubmit()"/>
          <span> </span>
          <input type="button" 
                 value="Close" 
                 (click)="closeLoginForm()"/>

      </div>
      
    </div>
    
  </div>



</div>
