<div class="main">

  <div class="login-form-container">
    <div class="login-form">
      <div class="login-mess">login</div>
      
        <div class="login-label">name</div>
        <div class="form-group">
            <input type="text" 
            autocomplete="off" 
            id="user-name" 
            required 
            [(ngModel)]="name" 
            name="name">
            <!-- (input)="validateSumInput($event)"> -->

        <div class="login-label">e-mail</div>
        <div class="form-group">
          <input type="text" 
          autocomplete="off" 
          id="mail-address" 
          required 
          [(ngModel)]="mailAddress" 
          name="mailAddress">
          <!-- (input)="validateSumInput($event)"> -->

        <div class="login-label">password</div>
        <div class="form-group">
          <input type="password" 
          autocomplete="off" 
          id="password" 
          required 
          [(ngModel)]="password" 
          name="password">
          <!-- (input)="validateSumInput($event)"> -->             

      </div>

      <div class="button-group form-group ">
          <input type="submit" 
                 value="Login" 
                  (click)="login()"/>
          <span> </span>
          <input type="button" 
                 value="Close" 
                 routerLink="/hello-monney"/>                
      </div>   

    </div>    
  </div>
</div>
