.container {
	display: grid;
	grid-template-columns: 5fr 7fr 5fr; 
	height: 100vh;
	background-color: #53687E;
}

[class*='close-'] {
	color: #777;
	font: 30px/100% arial, sans-serif;
	position: absolute;
	right: 20%;
	top: 70px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
  }
  
.close-thik:hover {
	color: #fff;
	text-shadow: 1px 1px black;
}
  
.form-group {
	width: 60vw;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
	border-radius: 15px;
}

h1 {
    color: #fff;
}

#error-block {
	color: #ad0622;
	font: 30px/100% Roboto;
	font-size: 20px;
}

.form-group label {
    font-family: Roboto; 
    font-size: 25px;
    color: #fff;

}
.form-group label {
	display:block;
	margin-bottom: 10px;
}
.form-group label > span {
	display: inline-block;
	float: left;
	width: 150px;
}

.form-group input[type=text] {
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 100%;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-family: Roboto;
	font-size: 20px;
	color: #fff;
}

.form-group input[type=submit],
.form-group input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
    color: #A8BACE;
    margin-left: 10px;
}
.form-group input[type=submit]:hover,
.form-group input[type=button]:hover{
	background: #394D61;
}
