@font-face {
    font-family: capture;
    src: url('../../assets/fonts/capture.ttf') format('opentype');
}
.main {
    height: 100vh;
}
.hello-monney-greeting {
    padding-top: 10%;
}
.hello-monney-message {
    padding-top: 2%;
}
.hello-monney-message, .hello-monney-greeting {
    font-family: capture;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.hello-monney-actions {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 5fr;
    text-align: center;
}
.yes-btn, .no-btn {
    font-family: capture;
    color: white;
    font-size: 2rem;
    padding: 10%;
    border-radius: 4px;
    margin: 0 30px;
}
.yes-btn:hover, .no-btn:hover {
    cursor: pointer;
    background-color: #eee;
    color: black;
}
.spinner {
	position: fixed;
	z-index: 1;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.hello-monney-container {
    padding-top: 5%;
}

@media (max-width: 800px) {
    .hello-monney-container {
        padding-top: 25%;
    }
    .yes-btn, .no-btn {
        padding: 8% ;
    }
}

@media (max-width: 600px) {
    .hello-monney-container {
        padding-top: 45%;
    }
    .hello-monney-message,
    .hello-monney-greeting,
    .yes-btn, .no-btn{
        font-size: 1rem;
    }
    .hello-monney-actions {
        grid-template-columns: 4fr 2fr 2fr 4fr;
    }
}