.confirmatiom-message-container {
    font-family: "sans";
    font-size: 1.3rem;
}
.modal-actions {
	margin: 15px 0 5px 0;
	text-align: right;
}
.modal-btn {
	font-family: "sans";
	font-size: 1rem;
	padding: 5px 15px;
	background: transparent;
	border: 1px solid #494949;
	margin-right: 2.5%;
}
.modal-btn:hover {
	background-color: #494949;
	color: white;
	cursor: pointer;
}
@media(max-width: 400px) {
    .confirmatiom-message-container {
        font-size: 1rem;
        line-height: 1.3;
        max-height: 70vh;
        overflow-y: auto;
	}
	.modal-btn {
		font-family: "sans";
		font-size: .8rem;
		padding: 5px 10px;
		background: transparent;
		border: 1px solid #494949;
		margin-right: 2.5%;
	}
}