<div class="main">
    <div class="categories-container">
        <div class="actions-container">
            <div class="new-category-btn">
                    <input type="button" value={{newCategoryBtnLbl}} (click)="openAddCategoryModal()" />
                <!-- <button mat-button (click)="openAddCategoryModal()">{{newCategoryBtnLbl}}</button> -->
            </div>
            <div class="pagination-area" *ngIf="arePagesToPaginate">
                <div class="pagination-btn" id="left-pagination">
                    <mat-icon class="categories-table-actions-icon"  aria-hidden="false" aria-label="Pagination left"
                        (click)="showPreviouseCategories()">keyboard_arrow_left
                    </mat-icon>
                </div>
                <div calss="pagination-pages-number">
                    {{pageNumber}} of {{pageAmount}} pages
                </div>
                <div class="pagination-btn" id="right-pagination">
                    <mat-icon class="categories-table-actions-icon" aria-hidden="false" aria-label="Pagination right"
                        (click)="showNextCategories()">keyboard_arrow_right
                    </mat-icon>
                </div>
            </div>
        </div>

        <div class="user-categories user-categories-message" *ngIf="arePagesToPaginate else noCategories">
            <div class="categories-table-header-container">
                <ng-container *ngFor="let header of headers">
                    <div class="categories-table-container categories-table-header">
                        <div class="categories-table-header-cell">
                            {{header}}
                            <mat-icon *ngIf="header === 'Name'" class="categories-table-actions-icon"
                                aria-hidden="false" aria-label="Save icon" (click)="sortCategoriesByName()">swap_vert
                            </mat-icon>
                        </div>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngFor="let category of categoriesToDisplay">
                    <!-- <ng-container *ngFor="let category of categories"> -->
                <div class="categories-table-container">
                    <div class="categories-table-cell">
                        {{category.name}}
                    </div>
                    <div class="categories-table-cell">
                        {{category.description}}
                    </div>
                    <div class="categories-table-cell categories-table-actions-cell">
                        <mat-icon class="categories-table-actions-icon" aria-hidden="false" aria-label="Edit icon"
                            (click)="openEditCategoryModal(category)">edit</mat-icon>
                        <mat-icon class="categories-table-actions-icon" aria-hidden="false" aria-label="Delete icon"
                            (click)="deleteCategory(category)">delete</mat-icon>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
        <ng-template #noCategories>
            <div class="greetings user-categories-message">
                {{greetingMessage}}
            </div>
            <div class="user-categories-message">{{noCategoriesMessage}}</div>
        </ng-template>

    </div>
</div>