<div class="main">
    <div class="categories-container">
        <div class="greetings user-categories-message">
            {{greetingMessage}}
        </div>
        <div class="user-categories user-categories-message" *ngIf="categories else noCategories">
            Hello
        </div>
        <ng-template #noCategories>
            <div class="user-categories-message">{{noCategoriesMessage}}</div>
        </ng-template>
        <div class="new-category-btn">
            <button mat-button (click)="openAddCategoryModal()">{{newCategoryBtnLbl}}</button>
        </div>
    </div>
</div>
