.user-categories-message {
    font-size: 1.8rem;
    line-height: 1.5;
}
.mat-button {
    font-size: 1.2rem;
    background-color: #616161;
}
.new-category-btn {
    padding-top: 5px;;
    text-align: right;
}