.datepicker-multi-date-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}
.mat-datepicker-toggle {
	color: white !important;
}
.placeholder-wrong-date {
	color: red;
	font-size: 1.5rem;
	font-family: "sans";
}
.mat-form-field,
.placeholder {
	text-align: left;
	font-family: "sans";
	color: white;
}
.placeholder-single {
	color: white;
	font-size: 1.8rem;
}
.placeholder-multiply {
	color: white;
	font-size: 1.5rem;
	margin: 0;
}
.date-input-single {
	margin: 15px 0 0 0;
	font-size: 1.3rem;
}
.date-input-multiply {
	padding: 5px 0 0 0;
	font-size: 1rem;
}
@media (max-width: 1000px) {
	.datepicker-multi-date-container {
		font-size: 1rem;
	}
	.placeholder-wrong-date {
		font-size: 1rem;
	}
}
@media (max-width: 600px) {
	.mat-form-field {
		width: 110px !important;
	}
	.placeholder-wrong-date {
		font-size: 0.7rem;
	}
	.datepicker-multi-date-container {
		font-size: 0.8rem;
	}
	.placeholder-multiply {
		font-size: 1rem;
	}
	.date-input-multiply {
		padding: 0;
		font-size: 0.8rem;
	}
}
@media (max-width: 400px) {
	.datepicker-multi-date-container {
		width: 90px;
	}
	.placeholder-single {
		font-size: 1.3rem;
	}
	.date-input-single {
		margin: 5px 0 0 0;
		font-size: .8rem;
	}
}
