<div class="categories-list-container">
    <div class="categories-list-content" *ngIf="categories?.length > 0 else noCategories">
        <div class="categories-list" *ngFor="let category of categories">

        </div>
    </div>
    <ng-template #noCategories>
        <div class="no-categories">
            <div class="no-categories-message">
                {{noCategoriesMessage}}
            </div>
            <div class="add-category">
                <button type="submit" class="btn add-btn" (click)="addCategory()">{{addCategoryBtn}}</button>
            </div>
        </div>
    </ng-template>

</div>