.categories-list-content {
	margin: 10px;
}
.categories-list-header {
	color: white;
	display: flex;
}
.categories-list-label {
	font-family: "capture";
	font-size: 1.3rem;
	padding-left: 10px;
}
.category-menu-icon {
	vertical-align: top !important;
	padding-top: 2px;
	padding-left: 5px;
}
.categories-list {
	display: grid;
	grid-template-columns: repeat(8, 2fr);
	grid-gap: 0.5rem;
	max-height: 70vh;
	overflow-y: auto;
}
.category-avatar-icon {
	text-align: center;
	font-family: "capture";
}
.card-header {
	text-align: center;
	text-transform: uppercase;
}
.card-name {
	white-space: nowrap;
	max-width: 120px;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	margin: auto;
}
.card-content {
	line-height: 1.3;
	font-size: 0.6rem;
}
.category-card-item {
	background: transparent;
	border: 1px solid white;
	border-radius: 4px;
	font-family: "sans";
	color: white;
	padding: 16px 10px;
}
.card-actions {
	display: grid;
	grid-template-columns: repeat(3, 4fr);
	text-align: center;
	margin-top: 5px;
}
.card-action-icon {
	margin: auto;
}
.card-action-icon:hover,
.category-menu-icon:hover {
	cursor: pointer;
	opacity: 0.8;
}
.last-expence,
.expence-total {
	display: grid;
	grid-template-columns: 6fr 6fr;
	text-transform: uppercase;
}
.last-expence-label,
.expence-total-label {
	text-align: right;
}
.last-expence-value,
.expence-total-value {
	text-align: left;
}

.no-categories-message {
	margin: auto;
	margin-top: 10vh;
	font-family: "sans";
	font-size: 1.5rem;
	color: white;
	text-align: center;
	max-width: 50%;
	line-height: 1.3;
}
.add-category {
	text-align: center;
	margin-top: 20px;
}
.add-btn {
	font-family: "sans";
	font-size: 1rem;
	padding: 5px 15px;
	background: transparent;
	color: white;
	border: 1px solid white;
	margin: auto;
}
.add-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
@media (max-width: 1300px) {
	.categories-list {
		grid-template-columns: repeat(6, 2fr);
		max-height: 65vh;
	}
}
@media (max-width: 800px) {
	.categories-list {
		grid-template-columns: repeat(5, 2fr);
		max-height: 60vh;
	}
}
@media (max-width: 600px) {
	.categories-list {
		grid-template-columns: repeat(3, 4fr);
		grid-gap: 3px;
	}
	.category-card,
	.card-content {
		font-size: 0.6rem;
	}
	.card-action-icon {
		font-size: 1rem;
	}
	.no-categories-message {
		font-size: 1rem;
	}
	.add-btn {
		font-size: 0.8rem;
	}
}
@media (max-width: 400px) {
	.card-name {
		max-width: 75px;
	}
	.category-card-item {
		padding: 10px 5px 5px 5px;
	}
	.categories-list {
		max-height: 68vh;
	}
	.categories-list-label {
		font-size: 1rem;
	}
	.categories-list-content {
		margin: 0 10px;
	}
	.category-menu-icon {
		font-size: 1rem;
	}
}
