<div class="categories-list-container">
    <div class="categories-list-content" *ngIf="categories?.length > 0 else noCategories">
        <div class="categories-list-header">
            <div class="categories-list-label">{{categoriesHeaderLbl}}</div>
            <div class="categories-list-actions">
                <mat-menu #appMenu="matMenu" xPosition="after">
                    <button mat-menu-item class="custom-menu" *ngFor="let menuItem of categoryMenuItems"
                        (click)="menuItem.action()">{{menuItem.name}}</button>
                </mat-menu>
                <mat-icon class="category-menu-icon" [matMenuTriggerFor]="appMenu" matTooltip="Category menu">menu
                </mat-icon>
            </div>
        </div>
        <div class="categories-list">
            <div class="categories-list-content" *ngFor="let category of categories">
                <div class="category-card">
                    <div class="category-card-item">
                        <div class="category-avatar-icon">
                            <igx-avatar roundShape="true" initials={{category.initials}} bgColor="#8e8e8e" color="white" class="category-avatar"
                                matTooltip="Expense category">
                                <mat-icon>{{category.icon}}</mat-icon>
                            </igx-avatar>
                        </div>

                        <div class="card-header">
                            <div class="card-name">
                                {{category.name}}
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="last-expence">
                                <div class="last-expence-label">{{lastExpenceLbl}}</div>
                                <div class="last-expence-value">{{lastExpenceValue}}</div>
                            </div>
                            <div class="expence-total">
                                <div class="expence-total-label">{{expenceTotalLbl}}</div>
                                <div class="expence-total-value">{{expenceTotalValue}}</div>
                            </div>
                        </div>

                        <div class="card-actions">
                            <mat-icon class="card-action-icon" matTooltip="Add expence" (click)="addExpence($event)" id="{{category.name}}">add</mat-icon>
                            <mat-icon class="card-action-icon" matTooltip="All category expences" (click)="viewCategoryTransactions($event)" id="{{category.name}}">view_list</mat-icon>
                            <mat-icon class="card-action-icon" matTooltip="Edit category">edit</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noCategories>
        <div class="no-categories">
            <div class="no-categories-message">
                {{noCategoriesMessage}}
            </div>
            <div class="add-category">
                <button type="submit" class="btn add-btn" (click)="addCategory($event)">{{addCategoryBtn}}</button>
            </div>
        </div>
    </ng-template>
</div>