<app-header></app-header>

<mat-expansion-panel class="balance">
	<mat-expansion-panel-header>
		<mat-panel-title matTooltip={{incomeToolTip}} class="balance-header balance-title">
			{{incomesTabLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
	<app-balance-manage-incomes *ngIf="currentUser" [appUser]="currentUser"></app-balance-manage-incomes>
</mat-expansion-panel>

<mat-expansion-panel class="balance">
	<mat-expansion-panel-header>
		<mat-panel-title matTooltip={{expensesToolTip}} class="balance-header balance-title">
			{{expensesTabLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
</mat-expansion-panel>

<mat-expansion-panel class="balance">
	<mat-expansion-panel-header>
		<mat-panel-title matTooltip={{reportsToolTip}} class="balance-header balance-title">
			{{reportsLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>

	<app-balance-view-balance *ngIf="currentUser" [appUser]="currentUser"></app-balance-view-balance>

</mat-expansion-panel>