.main {
  height: 100vh;
  background-color: #53687e;
  overflow: auto;
  font-family: Roboto; 
}
.income-header {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.7rem;
  color: white;
}
.incomes-container {
  width: 100%;
  border-bottom: 1px solid #283e52;
}
.incomes {
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
  font-size: 1.5rem;
  color: white;
  padding-left: 5%;
}
.incomes > div {
  height: 30px;
}
.buffer {
  border-top: 1px solid white;
}
.total {
  font-size: 1.7rem;
  color: white;
  padding-top: 1%;
  padding-left: 5%;
}
.expenses-container {
  border-bottom: 1px solid #283e52;
}
.expenses {
  display: grid;
  grid-template-columns: 5fr 5fr;
  color: white;
  font-size: 1.5rem;
  padding-left: 5%;
}
.expense-table-row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.detail-icon {
	color: white;
	font-size: rem;
	padding-left: 50%;
}
.detail-icon:hover {
  cursor: pointer;
}
.detail-modal {
  position: fixed;
	top: 30%;
	right: 0;
	bottom: 0;
	left: 0;
	background: #283e52;
	z-index: 1000;
  height: 70%;
  width: 98vw;
  border-radius: 1%;
  opacity: 1;
}
.custom-link:hover {
  text-decoration: underline;
  cursor: pointer;

}

