<div class="main">
    
  <div class="income-header">This month income:</div> 

  <div class="incomes-container">
    <div *ngFor="let currentIncome of thisMonthIncomes" 
        class="incomes">
          <div>{{currentIncome.date}}</div>
          <div>{{currentIncome.comment}}</div>
          <div>{{currentIncome.sum}}</div>
    </div>
  </div>

  <div class="buffer"></div>

  <div class="income-header">This month expenses:</div> 

  <div class="expenses-container"> 
    <div *ngFor="let expenseTable of expencesTableData" class="expenses">

      <div class="category-name">

        <div class="custom-link" 
             routerLink="/detail/{{expenseTable.category}}">{{expenseTable.category}}</div>

        <div class="detail-modal" *ngIf="showCategoryDetails">
          <div *ngFor="let expense of expenseTable.expences" >
              <div class="expense-table-row" >
                <div>Sum: {{expense.sum}}</div>
                <div>For: {{expense.comment}}</div>
                <div>Date: {{expense.date}}</div>
              </div>
            </div>
        </div>
        
      </div>
        
      <div class="total-sum">{{expenseTable.total}}</div> 
      
    </div>
  </div>

  <div class="buffer"></div>

  <div class="balance">
    <div class="total">Total incomes: {{incomeTotal}}</div>
    <div class="total">Total expences: {{expencesTotal}}</div>
    <div class="total">Current balance: {{balance}}</div>
  </div>
</div>
