<div class="categories-list-container">
	<div class="categories-list-header">
		<div class="categories-list-header-title">
			Expenses
		</div>
		<div class="categories-list-header-actions">
			<mat-menu #rootMenu="matMenu">
				<button mat-menu-item class="custom-menu" (click)="openAddCategoryModal()">Add new category</button>
				<button mat-menu-item class="custom-menu" [matMenuTriggerFor]="subMenu">Sort categories by</button>
			</mat-menu>

			<mat-menu #subMenu="matMenu">
				<button mat-menu-item *ngFor="let menuItem of subMenuItems" (click)="sortCategoriesByField(menuItem)"
					class="custom-menu">{{menuItem}}</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="rootMenu" matTooltip="Manage expense categories">
				<mat-icon class="header-menu-btn">menu</mat-icon>
			</button>
		</div>
	</div>
	<div class="categories-list-content" *ngIf="categories?.length > 0 else noCategories">
		<div class="categories-list" *ngFor="let category of categories">
			<div class="category-item">
				<div class="category-item-name">
					{{category.name}}
				</div>
				<div class="category-item-icon" *ngIf="category.icon else noCategoryIconSelected">
					<div class="category-item-icon-container">
						<div class="category-item-noicon" routerLink="/transaction/new/{{category.name}}"
							matTooltip="Add new expense">
							<mat-icon>{{category.icon}}</mat-icon>
							<mat-icon class="badge-icon">add_circle</mat-icon>
						</div>
					</div>
				</div>
				<ng-template #noCategoryIconSelected>
					<div class="category-item-icon-container">
						<div class="category-item-noicon" routerLink="/transaction/new/{{category.name}}"
							matTooltip="Add new expense">
							{{category.initials}}
							<mat-icon class="badge-icon">add_circle</mat-icon>
						</div>
					</div>
				</ng-template>
				<div class="category-item-last-transaction">
					{{lastModifiedLbl}} {{category.lastTransaction}}
				</div>
				<div class="category-item-total">
					{{categoryTotalLbl}} {{category.total}}
				</div>
				<div class="category-menu">
					<mat-menu #appMenu="matMenu">
						<button mat-menu-item class="custom-menu" *ngFor="let menuItem of expenseMenuItems"
							(click)="menuItem.action(category)">{{menuItem.name}}</button>
					</mat-menu>
					<div [matMenuTriggerFor]="appMenu" class="category-menu-btn">
						<div matTooltip="Manage the category">more</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-template #noCategories>
		<div class="no-categories-message">
			Hello, {{appUser.name}}. You don't have any expense categories for now. It would be great to add some to
			keep
			your finances in order.
		</div>
	</ng-template>
</div>