@font-face {
	font-family: capture;
	src: url('../../assets/fonts/capture.ttf') format('opentype');
}
.categories-list-container {
	font-family: capture;
	color: white;
	max-height: 80vh;
	overflow-y: auto;
}
.categories-list-header-container {
	position: relative;
	display: block;
	width: 100%;
	border-bottom: 1px solid #8e8e8e;
	font-size: 1.5rem;
}
.categories-list-header {
	color: white;
	width: 100%;
}
.categories-list-header {
	display: grid;
	grid-template-columns: 1fr 11fr;
}
.categories-list-header-title {
	padding-top: 7px;
	padding-left: 10px;
}
.categories-list-header-expenses {
	font-family:  Roboto, "Helvetica Neue", sans-serif;
}
.categories-list-header-actions {
	text-align: left;
}
.sort-menu-btn:hover {
	color: #8e8e8e;
	cursor: pointer;
}
.add-category-btn:hover {
	color: #8e8e8e;
	cursor: pointer;
}
.categories-list-content {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
	grid-template-rows: 4fr 4fr 4fr;
	text-align: center;
	height: calc(100% - 3rem);
	overflow-y: auto;
}
.header-menu-btn {
	font-size: 2rem;
}
.category-item {
	display: inline-block;
	padding-top: 10%;
}
.igx-avatar{
	height: 50px;
	width: 50px;
}
.igx-avatar:hover {
	cursor: pointer;
	background-color: white !important;
	color: black !important;
}
.category-name {
	padding-top: 2%;
	display: inline;
}
.category-actions-menu {
	display: inline;
}
.custom-menu {
	font-family:  Roboto, "Helvetica Neue", sans-serif;
	text-transform: uppercase;
}
.no-categories-message {
	padding: 5%;
	font-size: 1.5rem;
}
::ng-deep .mat-tooltip {
	font-size: 14px;
}

@media (max-width: 750px) {
	.categories-list-container {
		height: 70vh;
	}
	.categories-list-header-title {
		font-size: 1rem;
	}
	.category-name {
		font-size: .8rem;
	}
	.igx-avatar{
		height: 40px;
		width: 40px;
	}
	.category-avatar {
		font-size: .8rem;
	}
	.mat-icon-button {
		width: 30px;
	}
	.header-menu-btn {
		font-size: 1.5rem;
	}
}

@media (max-width: 450px) {
	.categories-list-content {
		grid-template-columns: 4fr 4fr 4fr;
	}
}

@media (max-width: 400px) {
	.categories-list-container {
		height: 70vh;
	}
	.header-menu-btn {
		font-size: 1.2rem;
	}
    .categories-list-content {
		height: 90%;
		overflow-y: scroll;
	}
	.categories-list-header-title {
		font-size: .8rem;
	}
}

// @media (max-width: 360px){
// 	.header-menu-btn {
// 		font-size: 1.2rem;
// 	}
// }















.categories-container {
  padding: 10px 20px 10px 20px;
}
.categories-container > div {
  height: 70%;
  width: 100%;
}
.category {
  padding-top: 20px;
  text-align: center;
  border: 1px solid white;
  color: white;
}
.category:hover {
  background-color: #eee;
  cursor: pointer;
  color: black;
}
.category p {
  font-size: 2rem;
}
  