.user-incomes-message {
    font-size: 1.8rem;
    line-height: 1.5;
}
.mat-button {
    font-size: 1.2rem;
    background-color: #616161;
}
.new-category-btn {
    padding-top: 5px;;
   // text-align: right;
}

.incomes-table-container, .incomes-table-header-container {
    display: grid;
    grid-template-columns: 3fr 3fr 5fr 1fr;
}

.incomes-table-header-container {
    margin: 1% 0;
    border-bottom: 1px solid #757575;
}

.incomes-table-cell {
    font-size: 1.2rem;
}

.incomes-table-header {
    display: inline-block;
}

.incomes-table-actions-cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.incomes-table-actions-icon:hover {
    cursor: pointer;
    color:#bdbdbd;
}
.actions-container {
    display: grid;
    grid-template-columns: 11fr 1fr;
}

.pagination-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

