<div class="expenses-container" *ngIf="currentUser">
	<div class="expenses-header">
		<div class="expenses-header-title">
			<div class="expenses-name">
				{{categoryName}}
			</div>
			<div class="expenses-description" *ngIf="categoryDescription">
				{{categoryDescription}}
			</div>
		</div>
		<div class="expenses-header-info">
			<div class="expenses-header-total">
				{{expensesTotalLabel}} {{expensesTotal}}
			</div>
			<div class="expenses-date-pagination">
				<div class="expenses-from-date">
					<mat-form-field>
						<input matInput [matDatepicker]="fromDate" [formControl]="fromDateValue" [max]="maxFromDate"
							[min]="minFromDate" (dateInput)="onDateInputFrom($event)">
						<mat-placeholder class="placeholder" *ngIf="isValidFromDate else invalidFromInputPls">FROM
						</mat-placeholder>
						<ng-template #invalidFromInputPls>
							<mat-placeholder class="placeholder-wrong-date">Oops! Check date format.</mat-placeholder>
						</ng-template>
						<mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
						<mat-datepicker #fromDate></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="expenses-to-date">
					<mat-form-field>
						<input matInput [matDatepicker]="toDate" [formControl]="toDateValue" [max]="maxToDate"
							[min]="minToDate" (dateInput)="onDateInputTo($event)">
						<mat-placeholder class="placeholder" *ngIf="isValidToDate else invalidToInputPls">TO
						</mat-placeholder>
						<ng-template #invalidToInputPls>
							<mat-placeholder class="placeholder-wrong-date">Oops! Check date format.</mat-placeholder>
						</ng-template>
						<mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
						<mat-datepicker #toDate></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
	<div class="expenses-content" *ngIf="expensesToDisplay?.length > 0 else noExpensesToDisplay">
		<div class="expenses-table-header-container">
			<ng-container *ngFor="let header of headers">
				<div class="expenses-table-container expenses-table-header">
					<div class="expenses-table-header-cell">
						{{header}}
						<mat-icon *ngIf="header === 'Date' || header === 'Sum'" class="expenses-table-actions-icon"
							aria-hidden="false" aria-label="Save icon" (click)="sortExpenses(header)">swap_vert
						</mat-icon>
					</div>
				</div>
			</ng-container>
		</div>
		<div class="expenses-table">
			<ng-container *ngFor="let expense of expensesToDisplay">
				<div class="expenses-table-container">
					<div class="expenses-table-cell">
						{{ expense.date | date }}
					</div>
					<div class="expenses-table-cell">
						{{expense.sum}}
					</div>
					<div class="expenses-table-cell">
						{{expense.comment}}
					</div>
					<div class="expenses-table-cell expenses-table-actions-cell">
						<mat-icon class="expenses-table-actions-icon" aria-hidden="false" aria-label="Edit icon"
							(click)="editExpense(expense)" matTooltip="Edit expense">edit</mat-icon>
						<mat-icon class="expenses-table-actions-icon" aria-hidden="false" aria-label="Delete icon"
							(click)="openDeleteCategoryDialog(expense)" matTooltip="Delete expense">delete</mat-icon>
					</div>
				</div>
				<mat-divider></mat-divider>
			</ng-container>

		</div>

	</div>
	<ng-template #noExpensesToDisplay>
		<div class="user-expenses-message">{{helloMessage}}</div>
		<div class="user-expenses-message">{{noExpensesMessage}}</div>
	</ng-template>
</div>