@font-face {
	font-family: capture;
	src: url('../../assets/fonts/capture.ttf') format('opentype');
}
.user-transaction-message {
    font-family: capture;
    color: white;
    padding: 2%;
    font-size: 1.5rem;
}
.user-transaction-greeteng {
    font-family: capture;
    color: white;
    font-size: 1.5rem;
    padding: 2% 2% 0 2%;
}
.transaction-container {
    background: transparent;
	border-radius: 8px;
    border: 1px solid white;
    margin: 2%;
    height: 100%;
}
.transaction-header-total {
    text-align: right;
    text-transform: uppercase;
    padding: 1% 3% 1% 1%;
}
.transaction-header {
    position: relative;
    display: block;
    display: grid;
    grid-template-columns: 8fr 4fr;
    width: 100%;
	border-bottom: 1px solid #8e8e8e;
    font-size: 1.2rem;
    color: white;
}
.transaction-header-title {
    max-height: 15rem;
    overflow-y: auto;
}
.transaction-name {
    font-family: capture;
    color: white;
    padding: 1% 1% 0 3%;
}
.transaction-description {
    color: white;
    padding: 0 1% 1% 3%;
}
.transaction-table-container, .transaction-table-header-container {
    display: grid;
    grid-template-columns: 2fr 3fr 8fr 1fr;
    color: white;
}
.transaction-table {
    max-height: 72vh;
    overflow-y: auto;
    padding: 1%;
}
.transaction-table-header-container {
    position: relative;
    border-bottom: 1px solid #757575;
}
.transaction-table-header:last-child {
    padding-right: 10px;
}
.transaction-table-header:first-child {
    padding-left: 10px;
}
.transaction-table-cell {
    font-size: 1.2rem;
}
.transaction-table-cell:nth-of-type(1) {
    padding-left: 10px;
}
.transaction-table-header {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.transaction-table-actions-cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.transaction-table-actions-icon:hover {
    cursor: pointer;
    color:#bdbdbd;
}
.mat-icon {
    vertical-align: middle;
}
@media (max-width: 800px) {
    .transaction-header-total {
        line-height: 1;
        padding-bottom: 5px;
    }
    .transaction-table-container, .transaction-table-header-container {
        grid-template-columns: 3fr 3fr 5fr 1fr;
    }
    .transaction-header {
        grid-template-columns: 6fr 6fr;
    }
}

@media (max-width: 400px) {
    .transaction-header-total {
        font-size: .8rem;
    }
	.transaction-header {
		font-size: .8rem;
    }
    .transaction-table-header {
        font-size: .8rem;
    }
    .transaction-table-actions-icon {
        font-size: 1rem;
    }
    .transaction-table-cell {
        font-size: .8rem;
        line-height: 1;
    }
    .transaction-table-container, .transaction-table-header-container {
        grid-template-columns: 4fr 3fr 4fr 1fr;
    }
    .mat-icon {
        padding-top: 4px;
    }
    .transaction-header-title {
        max-height: 7rem;
        overflow-y: auto;
        line-height: 1.3;
    }
    .user-transaction-message, .user-transaction-greeteng {
        font-size: 1rem;
    }
    .categories-list-header {
        grid-template-columns: 7fr 5fr;
    }
    .transaction-name {
        padding: 5% 1% 0 5%;
    }
}



