<div class="transaction-container" *ngIf="currentUser">
    <div class="transaction-header">
        <div class="transaction-header-title">
            <div class="transaction-name">
                {{categoryName}}
            </div>
            <div class="transaction-description" *ngIf="categoryDescription">
                {{categoryDescription}}
            </div>
        </div>
        <div class="transaction-header-info">
            <div class="transaction-header-total">
                {{transactionsTotalLabel}} {{transactionsTotal}}
            </div>
            <div class="transaction-date-pagination">
                <app-datepicker (fromDateChange)="handleFromDateChange($event)" (toDateChange)="handleToDateChange($event)"></app-datepicker>
            </div>
        </div>
    </div>
    <div class="transaction-content" *ngIf="transactionToDisplay?.length > 0 else noTransactionToDisplay">
        <div class="transaction-table-header-container">
            <ng-container *ngFor="let header of headers">
                <div class="transaction-table-container transaction-table-header">
                    <div class="transaction-table-header-cell">
                        {{header}}
                        <mat-icon *ngIf="header === 'Date' || header === 'Sum'" class="transaction-table-actions-icon"
                            aria-hidden="false" aria-label="Save icon" (click)="sortExpenses(header)">swap_vert
                        </mat-icon>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="transaction-table">
            <ng-container *ngFor="let transaction of transactionToDisplay">
                <div class="transaction-table-container">
                    <div class="transaction-table-cell">
                        {{ transaction.date | date }}
                    </div>
                    <div class="transaction-table-cell">
                        {{transaction.sum}}
                    </div>
                    <div class="transaction-table-cell">
                        {{transaction.comment}}
                    </div>
                    <div class="transaction-table-cell transaction-table-actions-cell">
                        <mat-icon class="transaction-table-actions-icon" aria-hidden="false" aria-label="Edit icon"
                            (click)="editExpense(transaction)" matTooltip="Edit transaction">edit</mat-icon>
                        <mat-icon class="transaction-table-actions-icon" aria-hidden="false" aria-label="Delete icon"
                            (click)="openDeleteCategoryDialog(transaction)" matTooltip="Delete transaction">delete
                        </mat-icon>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </div>
    <ng-template #noTransactionToDisplay>
        <div class="user-transaction-greeteng">{{helloMessage}}</div>
        <div class="user-transaction-message">{{noTransactionMessage}}</div>
    </ng-template>
</div>