<app-header></app-header>

<div class="container">

  <div class="empty-div"></div>

  <div class="form-body" *ngIf="isNewExpenseFormShown">
    <form #empForm="ngForm">
      <div class="form-group form-header">
        <div>
            <label for="category">{{ category }}</label>
        </div>
        <div>
          <div class="date-container">
              <span class="chevron left" 
                (click)="goToPrevDate()">
              </span> 
              <span class="date-holder">
                {{ dateToSave }}
              </span>
              <span *ngIf="isToggled"
                    class="chevron right" 
                    (click)="goToNextDate()">
              </span>
            </div>
        </div>
      
        {{ status }}
      </div>
  
      <div class="form-group">
        <label for="sum">Sum</label>
        <input type="text" 
                autocomplete="off" 
                class="form-control" 
                id="sum" 
                required 
                [(ngModel)]="sum" 
                name="sum"
                (input)="validateSumInput($event)">
      </div>
      
      <div *ngIf="isInvalidInput">
          <div class="form-group" id="error-block">
            {{ invalidInputMessage }}
          </div>
      </div>
  
      <div *ngIf="!isInvalidInput" class="form-group">
        <label for="comment">Comment</label>
        <input type="text" 
                autocomplete="off" 
                class="form-control" 
                id="comment" 
                required 
                [(ngModel)]="comment" 
                name="comment">
      </div>
  
      <div class="form-group">
        <label>
          <span> </span>
          <input type="submit" 
                  value="Save" 
                  (click)="onSubmit()"/>
          <span> </span>
          <input type="button" 
                 value="Close" 
                 routerLink="/categories"/>
        </label>
      </div>
    </form>
  </div>

  <div class="empty-div"></div>


  <div class="modal-view" *ngIf="isModalShown">
    <app-modal [message]="message" [status]="status"></app-modal>
  </div>
  

</div>
