<div *ngIf="category" class="container">
  <h1>{{category.name}}</h1>
  <form>
    <div class="form-group">
      <label for="sum">Sum</label>
      <input type="text" 
             autocomplete="off" 
             class="form-control" 
             id="sum" 
             required 
             [(ngModel)]="sum" 
             name="sum">
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <input type="text" 
             autocomplete="off" 
             class="form-control" 
             id="comment" 
             required 
             [(ngModel)]="comment" 
             name="comment">
    </div>

    <div class="form-group">
      <label>
        <span> </span>
        <input type="submit" 
               value="Submit" 
               (click)="onSubmit()"/>
        <span> </span>
        <input type="submit" value="Details" />
      </label>
    </div>
  </form>
</div>