@font-face {
    font-family: Pt-Sans-Bold;
    src: url('../../assets/fonts/pt-sans-bold.ttf') format('opentype');
}
.container {
	height: 100vh;
	background: transparent;
}
.form-body {
	height: 70%;
	width: 50%;
	margin: auto;
	margin-top: 5%;
	border: 1px solid white;
}  
.form-group {
	font-size: 2rem;
	font-family: Pt-Sans-Bold;
	padding: 30px 30px 15px 30px;
}
#error-block {
	color: #d50000;
	font: 30px/100% Pt-Sans-Bold;
	font-size: 2rem;
}
.form-group label {
    font-size: 2rem;
    color: #fff;
}
.form-group label {
	display:block;
	margin-bottom: 10px;
}
.form-group label > span {
	display: inline-block;
	float: left;
	width: 150px;
}

.form-group input[type=text] {
	background: transparent;
	border: none;
	border-bottom: 1px dashed white;
	width: 100%;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-size: 1.5rem;
	font-family: Pt-Sans-Bold;
	color: white;
}

.form-group input[type=submit],
.form-group input[type=button]{
	background: transparent;
	border: 1px solid white;
	padding: 8px 10px 8px 10px;
    color: white;
	margin-left: 10px;
	font-family: Pt-Sans-Bold;
}
.form-group input[type=submit]:hover,
.form-group input[type=button]:hover {
	cursor: pointer;
	background: white;
	color: black;
}

