<div class="form-container">
	<div class="expense-form" *ngIf="title">
		<div class="title">{{title}}</div>
		<form id="new-expence-form">
			<fieldset>
				<div class="new-expence-header">
					<div class="new-expence-category fieldset-item fieldset-legend">
						<div class="new-expence-category-name">
							{{ category }}
						</div>
					</div>
					<div class="new-expence-date fieldset-item">
						<mat-form-field>
							<mat-placeholder class="placeholder">Date</mat-placeholder>
							<input matInput [matDatepicker]="picker" [formControl]="date" [max]="maxDate">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
				<input type="text" name="sum" placeholder="Sum" required [(ngModel)]="sum" (keyup)="hideErrorMessage()"
					value="transactionSum">
				<div class="invalid-input-message" *ngIf="isInvalidInput">{{invaildSumMessage}}
				</div>
				<textarea name="comment" placeholder="Add a comment" [(ngModel)]="comment"></textarea>
			</fieldset>
			<input type="submit" value="Save" (click)="onSubmit()" />
			<input type="button" value="Close" (click)="closeModal()" />
		</form>
	</div>
</div>