@font-face {
    font-family: Pt-Sans-Bold;
    src: url('../../assets/fonts/pt-sans-bold.ttf') format('opentype');
}
.expense-form {
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 5% auto;
	padding: 20px;
	border-radius: 8px;
	font-family:  Roboto, "Helvetica Neue", sans-serif;
}
.expense-form fieldset {
	border: none;
}
.expense-form legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.expense-form label {
	display: block;
	margin-bottom: 8px;
}
.expense-form input[type="text"],
.expense-form input[type="date"],
.expense-form input[type="number"],
.expense-form textarea {
	font-family:  Roboto, "Helvetica Neue", sans-serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 1.5rem;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:black;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.expense-form input[type="text"]:focus,
.expense-form input[type="date"]:focus,
.expense-form input[type="number"]:focus,
.expense-form textarea:focus {
	background: #d2d9dd;
}

.expense-form input[type="submit"],
.expense-form input[type="button"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #616161;
	font-size: 1.5rem;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #373737;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.expense-form input[type="submit"]:hover,
.expense-form input[type="button"]:hover {
	background: #8e8e8e;
}

.title {
	position: relative;
	display: block;
	padding: 19px 0;
	color: #FFF;
	margin: 0 auto;
	background: #616161;
	font-size: 1.5rem;
	text-align: center;
	font-style: normal;
	width: 100%;
	margin-bottom: 10px;
}

.invalid-input-message {
	color: red;
	padding: 2% 0;
	margin-top: -6%;
}

.new-expence-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.new-expence-category-name {
	text-transform: uppercase;
	font-size: 1.4em;
}

.new-expence-category {
	position: relative;
	padding: 0 5%;
}

@media (max-width: 550px) {
	.expense-form {
		width: 400px;
	}
	.expense-form input[type="submit"],
	.expense-form input[type="button"] {
		padding: 10px 29px 9px 29px;
	}
	.title {
		padding: 14px 0;
	}
}

@media (max-width: 400px) {
	.expense-form {
		width: 300px;
	}
	.fieldset-legend {
		width: 10%;
	}
	.new-expence-category-name {
		font-size: 1em;
	}
	.new-expence-header {
		grid-template-columns: 8fr 4fr;
	}
	.mat-form-field {
        width: 130px !important;
	}
	.expense-form input[type="submit"],
	.expense-form input[type="button"] {
		padding: 5px 29px 4px 29px;
	}
	.title {
		padding: 8px 0;
	}
}
@media (max-width: 330px) {
	.expense-form {
		width: 250px;
	}
	.expense-form input[type="submit"],
	.expense-form input[type="button"] {
		padding: 3px 29px 2px 29px;
	}
	.title {
		padding: 5px 0;
	}
}

















