<div class="chart-container" id="chart-container">
    <div class="chart-title">
        <div class="dashboard-actions-container">
            <div class="back-btn-container">
                <button class="back-btn" routerLink="/dashboard/config">Back</button>
            </div>
            <div class="to-pdf-btn-container">
                <button class="to-pdf-btn" (click)="saveDashboardSaPDF()">To PDF</button>
            </div>
        </div>
        <div class="chart-selected-period">
            Transactions data from {{ chartData.dashboardPeriod.from | date:'longDate' }} to
            {{ chartData.dashboardPeriod.to | date:'longDate' }}
        </div>
    </div>
    <div class="dashboard-pie-chart" *ngIf="isPieChart">
        <app-pie-chart [chartData]="chartData"></app-pie-chart>
    </div>
    <div class="dashboard-area-chart" *ngIf="isAreaChart">
        <app-area-chart [chartData]="chartData"></app-area-chart>
    </div>
    <div class="dashboard-bar-chart" *ngIf="isBarChart">
        <app-bar-chart [chartData]="chartData"></app-bar-chart>
    </div>
    <div class="dashboard-exel-table" *ngIf="isExelTable">
        <app-excel-table [chartData]="chartData"></app-excel-table>
    </div>
</div>