.chart-container {
    margin: 10px;
}
.chart-title {
    margin: 2% 0;
}
.chart-selected-period, .empty-dashboard-message {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}
.dashboard-actions-container {
    margin-bottom: 10px;
}
.back-btn, .save-as-btn {
    background: transparent;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
    margin: 5px;
	box-shadow: 1px 1px;
    padding: 5px 10px;
}
.back-btn:hover, .save-as-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
.save-as-btn-disabled {
    pointer-events: none;
    opacity: .5;
}
.back-btn-container, .save-as-btn-container {
    text-align: center;
    display: inline;
}
@media (max-width: 800px){
	.back-btn-container, .save-as-btn-container {
        padding-top: 5px;
    }
}
@media (max-width: 400px){
	.chart-selected-period, .empty-dashboard-message {
        font-size: .8rem;
    }
    .chart-title {
        margin: 5% 0;
    }
    .back-btn, .save-as-btn {
        font-size: .6rem;
        width: 90%;
    }
    .back-btn-container, .save-as-btn-container {
        padding-top: 2px;
    }
    .dashboard-actions-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
    }
}

