@font-face {
    font-family: Pt-Sans-Bold;
    src: url('../../assets/fonts/pt-sans-bold.ttf') format('opentype');
}
.main {
    height:100%;
    width: 100%;
	background:transparent;
}

.modal-form {
	border: 2px solid;
	margin: 20%;
}

.modal-message {
	height: 50%;
	width: 50%;
	font-family: Pt-Sans-Bold;
	font-size: 2rem;
	color: white;
	padding-left: 2%;
	padding-top: 3%;
}

.modal-form input[type=submit] {
	background: transparent;
	border: 1px solid white;
	padding: 8px 10px 8px 10px;
    color: white;
	margin-left: 80%;
	margin-bottom: 5%;
	font-size: 1rem;
	font-family: Pt-Sans-Bold;
}

.modal-form input[type=submit]:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

