.modal-message {
	position: relative;
	display: block;
	color: #FFF;
	margin: 0 auto;
	background: #616161;
	font-size: 1.5rem;
	text-align: center;
	font-style: normal;
	width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 1%;
}
.mat-dialog-actions {
    justify-content: flex-end;
}
.mat-button {
    text-transform: uppercase;
}
@media (max-width: 400px){
	.modal-message, .mat-button {
        font-size: .8rem;
        line-height: 15px;
	}
	.mat-button {
		padding: 5px 2px;
	}
}
