@font-face {
    font-family: Pt-Sans-Bold;
    src: url('../../assets/fonts/pt-sans-bold.ttf') format('opentype');
}

.modal {
    padding: 2%;
}

.modal-message, .mat-button {
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 0 2% 2% 2%;
}

@media (max-width: 400px){
	.modal-message, .mat-button{
        font-size: .8rem;
        line-height: 15px;
	}
}
