<app-header></app-header>
<div class=main>
      <div id="openModal" >
      <div class="modal-form" [ngStyle]="{'border-color': getBorderColor()}">
        <div class="modal-message">
            {{ status === 'saved' ? 'Saved.' : 'Error!' }}
        <br/>
            {{ status === 'saved' ? 
              'The expense was successfully added to the ' + category + ' category.'  :
              'Something goes wrong. Try again.' }}
        </div>

        <input type="submit" 
               value="Close" 
               (click)="closeModal()"/>
    </div>
</div>

