<div class="dashboard-config">
    <div class="dashboard-config-container" *ngIf="currentUser">
        <div class="dashboard-config-title">
            {{defineDashboardMessage}}
        </div>
        <div class="dashboard-config-type">
            <div class="dashboard-config-type-title">
                {{selectDashboardTypeLbl}}
            </div>
            <div class="dashboard-config-type-container">
                <div class="dashboard-config-type-item dashboard-config-area-item" id="multiline_chart"
                    (click)="setChartType($event)">
                    <div class="dashboard-config-type-item-lbl">
                        {{areaChartLbl}}
                    </div>
                    <div class="dashboard-config-type-item-icon">
                        <mat-icon class="chart-type-icon">multiline_chart</mat-icon>
                    </div>
                </div>
                <div class="dashboard-config-type-item  dashboard-config-bar-item" id="bar_chart"
                    (click)="setChartType($event)">
                    <div class="dashboard-config-type-item-lbl">
                        {{barChartLbl}}
                    </div>
                    <div class="dashboard-config-type-item-icon">
                        <mat-icon class="chart-type-icon">bar_chart</mat-icon>
                    </div>
                </div>
                <div class="dashboard-config-type-item  dashboard-config-pie-item" id="pie_chart"
                    (click)="setChartType($event)">
                    <div class="dashboard-config-type-item-lbl">
                        {{pieChartLbl}}
                    </div>
                    <div class="dashboard-config-type-item-icon">
                        <mat-icon class="chart-type-icon">pie_chart</mat-icon>
                    </div>
                </div>
                <div class="dashboard-config-type-item  dashboard-config-pie-item" id="table_chart"
                    (click)="setChartType($event)">
                    <div class="dashboard-config-type-item-lbl">
                        {{tableChartLbl}}
                    </div>
                    <div class="dashboard-config-type-item-icon">
                        <mat-icon class="chart-type-icon">table_chart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-config-date">
            <div class="dashboard-config-date-title">
                {{selectDashboardDateLbl}}
            </div>
            <div class="dashboard-config-date-container">
                <app-datepicker (fromDateChange)="handleFromDateChange($event)"
                    (toDateChange)="handleToDateChange($event)"></app-datepicker>
            </div>
        </div>
        <div class="dashboard-config-category">
            <div class="dashboard-config-category-title">
                {{selectDashboardCategoryLbl}}
            </div>
            <div class="dashboard-config-category-options" *ngIf="categories?.length > 0 else noCategories">
                <mat-checkbox id="All" class="category-checkbox" (change)="toggleAll($event)" [(ngModel)]="isAllCheckboxChecked">All
                </mat-checkbox>
                <div class="dashboard-config-categories-container" *ngFor="let category of categories">
                    <mat-checkbox id={{category.name}} class="category-checkbox" (change)="toggle($event)"
                        [(ngModel)]="category.isChecked">{{category.name}}</mat-checkbox>
                </div>
                <ng-template #noCategories>
                    <div class="no-categories-message">
                        Hello, {{appUser.name}}. You don't have any expense categories for now. It would be great to
                        add some to keep your finances in order.
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="error-message-container" *ngIf="isWrongConfig">
            {{wrongConfigMessage}}
        </div>
        <div class="dashboard-actions-conainer">
            <div class="divider"></div>
            <div class="dashboard-actions">
                <div class="escape-dashboard-btn dashboard-btn" routerLink="/home">Back</div>
                <div class="create-dashboard-btn dashboard-btn" (click)="collectDashboardData()" sdfdsgf>Create
                    dashboard</div>
            </div>
        </div>
    </div>
</div>