<div class="dashboard-config">
    <div class="spinner" *ngIf="isLoading">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div class="dashboard-config-container" *ngIf="currentUser">
        <div class="dashboard-config-title">
            {{defineDashboardMessage}}
        </div>
        <div class="dashboard-config-type">
            <div class="dashboard-config-type-title">
                {{selectDashboardTypeLbl}}
            </div>
            <div class="dashboard-config-type-container">
                <div class="dashboard-config-type-item dashboard-config-area-item" id="multiline_chart"
                    (click)="setChartType($event)">
                    <div class="dashboard-config-type-item-lbl">
                        {{areaChartLbl}}
                    </div>
                    <div class="dashboard-config-type-item-icon">
                        <mat-icon class="chart-type-icon">multiline_chart</mat-icon>
                    </div>
                </div>
                <div class="dashboard-config-type-item  dashboard-config-bar-item" id="bar_chart"
                    (click)="setChartType($event)">
                    <div class="dashboard-config-type-item-lbl">
                        {{barChartLbl}}
                    </div>
                    <div class="dashboard-config-type-item-icon">
                        <mat-icon class="chart-type-icon">bar_chart</mat-icon>
                    </div>
                </div>
                <div class="dashboard-config-type-item  dashboard-config-pie-item" id="pie_chart"
                    (click)="setChartType($event)">
                    <div class="dashboard-config-type-item-lbl">
                        {{pieChartLbl}}
                    </div>
                    <div class="dashboard-config-type-item-icon">
                        <mat-icon class="chart-type-icon">pie_chart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-config-date">
            <div class="dashboard-config-date-title">
                {{selectDashboardDateLbl}}
            </div>
            <div class="dashboard-config-date-container">
                <div class="dashboard-from-date">
                    <mat-form-field>
                        <input matInput [matDatepicker]="fromDate" [formControl]="fromDateValue" [max]="maxFromDate"
                            [min]="minFromDate" (dateInput)="onDateInputFrom($event)">
                        <mat-placeholder class="placeholder" *ngIf="isValidFromDate else invalidFromInputPls">FROM
                        </mat-placeholder>
                        <ng-template #invalidFromInputPls>
                            <mat-placeholder class="placeholder-wrong-date">Check date format.</mat-placeholder>
                        </ng-template>
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="dashboard-to-date">
                    <mat-form-field>
                        <input matInput [matDatepicker]="toDate" [formControl]="toDateValue" [max]="maxToDate"
                            [min]="minToDate" (dateInput)="onDateInputTo($event)">
                        <mat-placeholder class="placeholder" *ngIf="isValidToDate else invalidToInputPls">TO
                        </mat-placeholder>
                        <ng-template #invalidToInputPls>
                            <mat-placeholder class="placeholder-wrong-date">Check date format.</mat-placeholder>
                        </ng-template>
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="dashboard-config-category">
            <div class="dashboard-config-category-title">
                {{selectDashboardCategoryLbl}}
            </div>
            <div class="dashboard-config-category-options" *ngIf="categories?.length > 0 else noCategories">
                <mat-checkbox id="All" class="category-checkbox" (change)="toggleAll($event)">All
                </mat-checkbox>
                <div class="dashboard-config-categories-container" *ngFor="let category of categories">
                    <mat-checkbox id={{category.name}} class="category-checkbox" (change)="toggle($event)"
                        [(ngModel)]="category.isChecked">{{category.name}}</mat-checkbox>
                </div>
                <ng-template #noCategories>
                    <div class="no-categories-message">
                        Hello, {{appUser.name}}. You don't have any expense categories for now. It would be great to
                        add some to keep your finances in order.
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="error-message-container" *ngIf="isWrongConfig">
            {{wrongConfigMessage}}
        </div>
        <div class="dashboard-actions-conainer">
            <div class="divider"></div>
            <div class="dashboard-actions">
                <div class="escape-dashboard-btn dashboard-btn" routerLink="/home">Back</div>
                <div class="create-dashboard-btn dashboard-btn" (click)="collectDashboardData()" sdfdsgf>Create dashboard</div>
            </div>
        </div>
    </div>
</div>