// CSS Reset, comment out if not required or using a different module
//@import '~minireset.css/minireset';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$monney-primary: mat-palette($mat-indigo);
$monney-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$monney-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$monney-theme: mat-light-theme($monney-primary, $monney-accent, $monney-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($monney-theme);

@font-face {
	font-family: "capture";
	src: url('/assets/fonts/Capture_it-webfont.ttf');
}
@font-face {
	font-family: "sans";
	src: url('/assets/fonts/ABeeZee-Regular.otf');
}
@font-face {
	font-family: "sans-italic";
	src: url('/assets/fonts/ABeeZee-Italic.otf');
}
body {
	margin: 0;
	padding: 0;
}
.mat-tooltip {
	text-transform: uppercase;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);
