.transaction-form {
	width: 50%;
	margin: 200px auto auto auto;
	border: 1px solid white;
	padding: 10px;
	line-height: 1.5;
}
.transaction-form-title {
	font-family: "capture";
	color: white;
	font-size: 1.3rem;
	margin-left: 2.5%;
}
.form-group {
	width: 95%;
	margin: auto;
}
.transaction-name,
.transaction-comment,
.transaction-date {
	margin: 5px 0;
}
.transaction-date {
	padding: 5px;
}
.transaction-sum-label,
.transaction-comment-label,
.transaction-date-label,
.form-control {
	font-family: "sans";
	color: white;
	font-size: 1.3rem;
}
.form-control {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px dashed white;
}
.invalid-input-meesage {
	padding-top: 5px;
	font-family: "sans";
	color: red;
	font-size: 1rem;
	line-height: 1.2;
}
.transaction-submit {
	text-align: right;
}
.btn-submit {
	font-family: "sans";
	font-size: 1rem;
	padding: 5px 15px;
	background: transparent;
	color: white;
	border: 1px solid white;
	margin-right: 2.5%;
}
.btn-submit:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

@media (max-width: 800px) {
	.transaction-form {
		width: 80%;
		margin-top: 100px;
	}
}

@media (max-width: 600px) {
	.invalid-input-meesage {
		font-family: "sans";
		color: red;
		font-size: 0.6rem;
		line-height: 1.2;
	}
}

@media (max-width: 400px) {
	.transaction-form {
		margin-top: 30px;
		line-height: 1.2;
	}
	.transaction-form-title,
	.transaction-sum-label,
	.transaction-comment-label,
	.transaction-date-label,
	.form-control {
		font-size: 1rem;
	}
	.btn-submit {
		font-size: .8rem;
		padding: 5px 15px;
	}
}
