.transaction-form {
    width: 50%;
	margin: 200px auto auto auto;
	border: 1px solid white;
    padding: 10px;
    line-height: 1.5;
}
.transaction-form-title {
	font-family: "capture";
	color: white;
    font-size: 1.3rem;
    margin-left: 2.5%;
}
.form-group {
	width: 95%;
	margin: auto;
}
.transaction-name,
.transaction-comment {
	margin: 5px 0;
}
.transaction-icon {
    margin: 10px 0;
}
.transaction-sum-label,
.transaction-comment-label,
.transaction-icon-label,
.form-control {
	font-family: "sans";
	color: white;
	font-size: 1.3rem;
}
.form-control {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px dashed white;
}
.transaction-submit {
    text-align: right;
}
.transaction-icon-label, .transaction-icon-btn {
    display: inline;
}
.transaction-icon-btn {
    margin: 0 10px;
}
.transaction-icon-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.btn-submit {
	font-family: "sans";
	font-size: 1rem;
	padding: 5px 15px;
	background: transparent;
	color: white;
	border: 1px solid white;
	margin-right: 2.5%;
}
.btn-submit:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

@media (max-width: 800px) {
	.transaction-form {
		width: 80%;
		margin-top: 100px;
	}
}

@media (max-width: 600px) {}

@media (max-width: 400px) {
}