<div class="home-page-container">
    <div class="home-page-content">
        <div class="navigation-zone">
            <div class="manage-incomes-container">
                <div class="manage-incomes">
                    <div class="manage-incomes-header">
                        <div class="manage-incomes-title">incomes</div>
                    </div>
                    <div>
                        <div class="manage-incomes-content">
                            <!-- {{currentIncomesValue}} -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="manage-reports-container">
                reports
            </div>
            <div class="divider"></div>
            <div class="profile-settings-container">
                profile settings
            </div>

        </div>
        <div class="categories-list-container">
            <app-category-list *ngIf="currentUser" [appUser]="currentUser"></app-category-list>
        </div>

    </div>


</div>