@font-face {
	font-family: capture;
	src: url('../../assets/fonts/capture.ttf') format('opentype');
}
.home-page-content {
	display: grid;
	grid-template-columns: 2fr 10fr;
	margin: 1%;
}
.categories-list-container {
	background: transparent;
	border-radius: 8px;
    border: 1px solid white;
}
.manage-incomes-container, .manage-reports-container {
	background: transparent;
	border-radius: 8px;
    border: 1px solid white;
}
.manage-incomes-container, .manage-reports-container {
	height: 20%;
}
.divider {
	height: 2%;
}
.balance-divider {
	height: 10%;
}
.navigation-zone {
	height: 100%;
	margin-right: 2%;
}
.manage-incomes, .manage-reports {
    text-transform: uppercase;
	background: transparent;
	font-family: capture;
}
.manage-incomes-header, .manage-reports-header {
    color: white;
    font-size: 1.5rem;
}
.manage-incomes-title, .manage-reports-title {
	padding: 2% 0 2% 5%;
}
.manage-incomes-quick-actions {
	padding-top: 30px;
}
.add-icome, .see-icome-details {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: white;
	width: 80%;
	text-align: center;
	font-size: .8rem;
	margin: auto;
	margin-bottom: 10px;
}
.add-icome:hover, .see-icome-details:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
.balance-info {
	color: white;
	text-transform: uppercase;
	padding: 0 2%;
}

.balance-info-header {
	border-bottom: 1px solid #8e8e8e;
}
.expense-value,
.income-value,
.balance-value {
	text-align: right;
}
.spinner {
	position: fixed;
	z-index: 1;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

@media (max-width: 1000px) {
	.home-page-content {
		display: grid;
		grid-template-columns: 4fr 8fr;
	}
	.manage-incomes-container, .manage-reports-container {
		height: 15%;
	}
	.manage-incomes-quick-actions {
		padding-top: 10px;
	}
}
@media (max-width: 400px) {
	.manage-incomes-header, .manage-reports-header {
		font-size: .8rem;
	}
	.manage-incomes-quick-actions {
		font-size: .7rem;
	}
	.add-icome, .see-icome-details {
		padding: 2px;
		line-height: 1.3;
	}
	.add-income-lbl, .income-details-lbl {
		width: 100%;
		padding: 3% 1%;
	}
	.balance-info {
		font-size: .8rem;
		line-height: 1.3;
	}
	.manage-incomes-quick-actions {
		padding-top: 1px;
	}
	.add-icome, .see-icome-details {
		width: 80%;
		font-size: .6rem;
	}
	.add-icome {
		margin-bottom: 3px;
	}
	.see-icome-details {
		margin-bottom: 1px;
	}
	.manage-incomes-title, .manage-reports-title {
		padding: 1% 0 0 5%;
	}

}
