@font-face {
	font-family: capture;
	src: url('../../assets/fonts/capture.ttf') format('opentype');
}
.home-page-content {
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-column-gap: 10px;
	width: 98%;
	margin: auto;
	margin-top: 1%
}
.categories-list-container {
	background: transparent;
	border-radius: 8px;
    border: 1px solid white;
}
.balance-divider {
	height: 1%;
}
.balance-info {
	color: white;
	text-transform: uppercase;
	padding: 0 2%;
}
.balance-info-header {
	border-bottom: 1px solid #8e8e8e;
}
.expense-value,
.income-value,
.balance-value {
	text-align: right;
}
.low-balance-info-title {
	color: red;
}
.spinner {
	position: fixed;
	z-index: 1;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.navigation-zone {
	display: block;
}
.manage-incomes-container {
	display: inline;
}
.icome-details, .report-details {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: capture;
	color: white;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: auto;
	margin-bottom: 10px;
	box-shadow: 1px 1px;
	padding: 10px;
}
.icome-details:hover, .report-details:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
.custom-menu {
	text-transform: uppercase;
}

@media (max-width: 1000px) {
	.balance-info, .date {
		font-size: 1rem;
		line-height: 1.2;
	}
	.icome-details, .report-details {
		padding: 5px 2px;
	}
	.icome-details:hover, .report-details:hover {
		background-color: white;
		color: black;
		cursor: pointer;
	}
	.custom-menu {
		text-transform: uppercase;
	}

	@media (max-width: 750px) {
		.home-page-content {
			display: inline;
		}
		.balance-divider {
			display: none;
		}
		.navigation-zone {
			display: grid;
			grid-template-columns: 6fr 6fr;
			grid-column-gap: 5px;
		}
		.home-page-container {
			margin: 10px;
		}
		.balance-info {
			font-size: .8rem;
			line-height: 1.3;
		}
		.balance-info-header {
			margin-bottom: 5px;
		}
		.icome-details, .report-details {
			font-size: 1rem;
			padding: 2px;
		}
	}

	@media (max-width: 400px) {
		.home-page-container {
			margin: 10px;
		}
		.icome-details, .report-details {
			font-size: 1rem;
			padding: 2px;
		}
		.balance-info-mobile-title, .balance-mobile-value {
			font-size: .8rem;
		}
	}
}
