.user-profile-form {
	width: 50%;
	margin: 200px auto auto auto;
	border: 1px solid white;
	padding: 10px;
	line-height: 1.5;
}
.user-profile-label {
	padding: 5px 0 0 5px;
	color: white;
	font-family: "capture";
	font-size: 1.3rem;
}
.user-avatar-label,
.user-name-label,
.user-email-label,
.user-balance-limit-label {
	font-family: "sans";
	color: white;
}
.user-avatar-label,
.user-name-label,
.user-email-label,
.user-balance-limit-helper-text {
	padding-bottom: 5px;
}
.user-avatar,
.user-name,
.user-email,
.user-balance-limit {
	padding: 5px 0 0 5px;
}
.user-avatar-image {
	font-family: "capture";
	color: white;
	background-color: #8e8e8e;
	// margin: 4px 20px;
}
.user-input {
	width: 95%;
	background: transparent;
	border: none;
	border-bottom: 1px dashed white;
	font-family: "sans";
	color: white;
	font-size: 1.3rem;
}
.user-balance-limit-helper-text {
	font-size: 0.6rem;
	color: white;
	line-height: 1;
}
input[type="file"] {
	display: none;
	border: none;
	width: 100%;
}
.label-input > label {
	margin: 0;
}
.label-input,
.btn-submit {
	font-family: "sans";
	font-size: 1rem;
	padding: 5px 15px;
	background: transparent;
	color: white;
	border: 1px solid white;
	margin-left: 30px;
}
.user-info-submit {
	margin: 15px 0 5px 0;
	text-align: right;
}
.label-input:hover,
.btn-submit:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
.invalid-input {
	font-family: "sans";
	color: red;
	font-size: 1.3rem;
}
