<mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header >
		<mat-panel-title matTooltip={{settingsToolTip}} class="user-profile-header user-profile-title">
			{{settingsTabLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
	<!-- TODO a to separate component -->
	<input type="button" value="Log out" (click)="logout()" />
	<p>This is the primary content of the panel.</p>

</mat-expansion-panel>

<mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header>
		<mat-panel-title matTooltip={{categoriesToolTip}} class="user-profile-header user-profile-title">
			{{categoriesTabLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
</mat-expansion-panel>

<!-- <mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header>
		<mat-panel-title matTooltip={{reportsToolTip}} class="user-profile-header user-profile-title">
			{{reportsTabLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>

	<p>This is the primary content of the panel.</p>

</mat-expansion-panel> -->