<mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header>
		<mat-panel-title class="user-profile-header user-profile-title">
			{{avatarLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
	<igx-avatar *ngIf="avatarSrc else noAvatar" [src]="avatarSrc" roundShape="true">
	</igx-avatar>
	<ng-template #noAvatar>
		<igx-avatar initials={{avatarInitials}} roundShape="true" [bgColor]="bgColor" [color]="color">
		</igx-avatar>
	</ng-template>
	<input type="file" (change)="onFileChanged($event)">
	
</mat-expansion-panel>

<mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header>
		<mat-panel-title class="user-profile-header user-profile-title">
			{{themeLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
	in development
</mat-expansion-panel>

<mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header>
		<mat-panel-title class="user-profile-header user-profile-title">
			{{userInfoLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
	in development
</mat-expansion-panel>

<mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header>
		<mat-panel-title class="user-profile-header user-profile-title">
			{{currencyLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
	in development
</mat-expansion-panel>

<mat-expansion-panel class="user-profile">
	<mat-expansion-panel-header>
		<mat-panel-title class="user-profile-header user-profile-title">
			{{balanceLimitLabel}}
		</mat-panel-title>
	</mat-expansion-panel-header>
	in development
</mat-expansion-panel>